.App {
  text-align: center;
}

.city-input {
  border: 1px solid gray;
  padding: 3px;
}

.input-button {
  border: 1px solid gray;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.city-card * {
  margin: 0;
}

.city-card {
  margin-top: 20px;
  border: 2px solid black;
  width: 90%;
}

.temp-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.current {
  margin: 0 15% 0 15%;
}

/* .temps {
  margin-left: 0;
} */

.city-card h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.city-card h3 {
  margin-bottom: 5px;
}
