/* font-family: 'Patrick Hand', cursive;
font-family: 'Roboto', sans-serif; */
body {
  background-image: url("https://www.transparenttextures.com/patterns/iron-grip.png");
  background-color: #0a0a0a;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #0a0a0a;
  color: white;
  background-image: url("https://www.transparenttextures.com/patterns/iron-grip.png");
}

.header h1 {
  padding-top: 20px;
  margin: 0px 0 0px 0;
  font-size: 60px;
}

.header h4 {
  margin: 0 0 20px 0;
  font-family: 'Patrick Hand', cursive;
  font-size: 18px;
}

.city-input {
  border: 1px solid black;
  padding: 3px;
  font-size: 20px;
}

.input-button {
  border: 1px solid black;
  background-color: #595959;
  color: white;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.city-card * {
  margin: 0;
}

.city-card {
  margin-top: 20px;
  border: 2px solid gray;
  width: 90%;
  background-image: url("https://www.transparenttextures.com/patterns/iron-grip.png");
}

.temp-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.current {
  margin: 0 15% 0 15%;
}

/* .temps {
  margin-left: 0;
} */

.city-card h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.city-card h3 {
  margin-bottom: 5px;
}
